body{
    background-color: antiquewhite;
    color: rgb(0, 0, 0);
}

#container_ex5{
    background-color: aliceblue;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

#container_ex5 .size{
    width: 120px;
    height: 120px;
}

#container_ex5 .son1{
    background-color: blue;
}

#container_ex5 .son2{
    background-color: black;
}

#container_ex5 .son3{
    background-color: yellow;
}

#container_ex5 .son4{
    background-color: white;
}

#container_ex5 .son5{
    background-color: red;
}

#container_ex5 .son6{
    background-color: rgb(26, 78, 26);
}

#container_ex5 .son7{
    background-color: orange;
}

#container_ex5 .son8{
    background-color: gray;
}

#container_ex5 .son9{
    background-color: pink;
}

#container_ex5 .son10{
    background-color: purple;
}


#container_ex6{
    background-color: aliceblue;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;
}

#container_ex6 .size{
    width: 120px;
    height: 120px;
}

#container_ex6 .son1{
    background-color: blue;
}

#container_ex6 .son2{
    background-color: black;
}

#container_ex6 .son3{
    background-color: yellow;
}

#container_ex6 .son4{
    background-color: white;
}

#container_ex6 .son5{
    background-color: red;
}

#container_ex6 .son6{
    background-color: rgb(26, 78, 26);
}